 /* Base container and element styles for mobile devices */

 body {
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0;
}

.conteiner {
    max-width: 1600px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

/* Limit the bottom padding styles to 0-767 pixels */

/* Tablet styles */

/* Limit border styles to 768-1023 pixels */

/* Desktop styles */





//     &--style {
//     display: flex;
// }

// @media screen and (min-width: 480px) {
//   width: 480px;
  
// }

// @media screen and (min-width: 768px) {
//   width: 768px; 
// }


// @media screen and (min-width: 1200px ) {
//   width: 1600px;
// }

}