 /*BASE STYLES*/

 body {
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0;
}

.conteiner {
    max-width: 1600px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;



}


/*MOBILE DEVICES*/





/*TABLET DEVICES*/
@media (min-width: 768px){ 
  .conteiner--style{
  width: 768px;
  display: flex;
}

}
/*DESKTOP DEVICES*/

@media (min-width: 1200px){ 
  .conteiner--style{
  width: 1200px;
  display: flex;
}

}