:root {
    --blue-color: #2196f3;
    --black-color: #212121;
    --white-color: #ffffff;
    --text-color: #757575;
    --header-color: rgba(255, 255, 255, 0.6);
    --bg-color-first: #2f303a;
    --bg-color-second: #f5f4fa;
  }