/*BASE STYLES*/

.footer {
    background-color: var(--bg-color-first);
    padding-top: 60px;
    padding-bottom: 60px; 
}

.address-footer {
    // margin-right: 70px;
    text-align: center;
}

.footer-address__list {
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 60px; 
}

.footer-address {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   font-style: normal;
}

.footer-address__link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    display:inline-block;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--color {
    color: var(--white-color);
}
}

.footer-address_item:not(:last-child) {
    margin-bottom: 8px;
}

.footer .conteiner{
    align-items: baseline;
}

.social-footer {
    min-width: 206px; 
}

/**Form*/
   .form-footer {
    text-align: center;
 }

.form-footer__input {
    margin-bottom: 20px;
    width: 290px;
    height: 50px ;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-color-first);
    color: var(--white-color);
    padding: 15px 16px;
    outline: none;


   &::placeholder {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

}

.button-primary__submit-footer {
    margin-left:10px;
    top: 50%;
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

/* MOBILE DEVICES*/

@media (min-width: 480px){ 
    .footer .conteiner{
    width: 480px;
          }

.form-footer__input {
    width: 450px;
        
        }}


/*TABLET DEVICES*/

@media (min-width: 768px){ 
    .footer .conteiner{
    width: 768px;
}
        
.footer-tablet {
    display: flex;
    padding-left: 61px;
}
        
.address-footer {

    margin-right: 165px;
}

.button-primary--footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}


/*DESKTOP DEVICES*/

@media (min-width: 1200px){ 
    .footer .conteiner{
    width: 1200px;
    display: flex;
}

.form-footer {
    display: flex;
}

.social-footer {
    margin-right: 93px;
    
}

.third-title--footer {
    text-align: left;
}

.social-footer .third-title--footer {
    padding-top: 8px;
}


.footer-tablet {
    padding-left: 0px;
}

.address-footer {
    margin-right: 70px;
}

.form-footer__input {
    width: 358px;
        
}

.address-footer {
    text-align: left;
}

.footer-address__list {
    margin-bottom: 0px;
}


}