 /*BASE STYLES*/
 
 .features-list {
    margin-top: 0px;
    margin-bottom: 0px; 
    padding-left: 0px;
    text-decoration: none;
    list-style: none;
}

.features-list__text {
    margin-top: 0px;
    margin-bottom: 0px; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features-list__icon {
    margin-bottom: 30px;
    min-width: 290px;
    height: 120px;
    background-color:var(--bg-color-second);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-list__item {
    
    &:not(:last-child) {
    margin-bottom: 30px;
    }
        
    & .third-title {
    text-align: center;
    }
} 

.features {
    padding-top: 60px;
    padding-bottom: 60px;
        }   

 /* MOBILE DEVICES*/

@media screen and (min-width: 480px) { 
    .features .conteiner {
    width: 480px;
          }  

.features-list__icon {
    width: 450px;}

}

/*TABLET DEVICES*/

@media screen and (min-width: 768px) {
    .features .conteiner {
     width: 768px; }

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-list__item {
   width: 354px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;

   & .third-title {
    text-align: left;
   }

   &:not(:last-child) {
    margin-bottom: 0px;
    }
}

.features-list__icon {
    width: 354px;
    padding: 25px 142px;
}

}


/*DESKTOP DEVICES*/



 
 
 

