.portfolio-section {
    padding-top:94px;
    padding-bottom:94px;
}

.navigation-portfolio {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    margin-bottom:50px;
    margin-top:0px;
}
   
.navigation-portfolio__item:not(:last-child) {
        margin-right: 8px; 
    }